.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px 36px;
  padding: 0 24px;
  background: #000;
  padding-top: 162px;
}

.pageContainer {
  background: #000;
  color: #fff;
}
